*{
   padding: 0px;
   margin: 2px;
}
ul{
    list-style: none;
}

ul li{
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    height: 60px;
}
ul li a{

    height: 60px;
    background-color: rgba(132, 74, 226, 0.555);
    display: block;
    border-left: 10px solid rgb(162, 236, 139);
    border-right: 5px solid rgb(162, 236, 139);
    padding-left: 15px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 15px 15px;
    
}

ul li a:hover{
    margin-left: 10px;
    color: #b9b7b7;
    background-color: #15c449;
    box-shadow: 15px 15px 25px rgb(255, 255, 255);
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}

td{
    vertical-align: top;
}

body {
    background-color: #9068da;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div {
    color: #fcfcfc;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #999999;
    background-color: #190d4283;
    border-radius: 15px;
    border: solid 2px #999999;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 5px #C0C2C3;
}
div div{
    
    border: 3px;
    box-shadow: 3px 3px 3px 3px rgb(162, 236, 139);
}
tr div h2{
    color: rgb(221, 238, 215);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cls {
    display: table-cell;
    padding: 10px;
    height: auto;
    border: 5px;
    text-align: justify; 
    padding-left: 10px;   
}
div div.cls{
white-space: 0px;
}
.clz{
    display: table-cell;
    padding-left: 10px;
}
tr td div{
    width: auto;
    height: auto;
}
.cls p{
    color: #15c449;
}